@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* @ Variables */

:root {
    --term-font: "Ubuntu Sans Mono", serif;
    --term-bg-color: #000000;
    --term-text-color: #f0f6fc;
    --bg-color: #010409;
    --terminal-line-top-spacing: 1%;
}

/* -- */

/* @ General Styles */

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--term-font);
    color: var(--term-text-color);
}

label {
    margin: 0;
    padding: 5px;
}

.terminal--line textarea {
    background: transparent;
    border: none;
    font-family: var(--term-font);
    font-size: 1em;
    color: var(--term-text-color);
    /* Dynamic input line centering to prompt */
    margin-top: calc(var(--terminal-line-top-spacing) - .25em);
    margin-left: .5em;
    margin-right: .5em;
    word-wrap: break-word;
    flex: 2;
    line-height: 200%;
    resize: none;
    overflow-y: hidden;
}

textarea:focus {
    outline: none;
}

/* -- */

/* @ Utility Styles */

.hidden {
    display: none;
}

/* -- */

/* @ Site Styles */

.terminal-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-program {
    width: 70%;
    height: 75%;
    border: solid .5em var(--term-text-color);
    border-radius: 1%;
    font-size: 2em;
}

.terminal {
    width: 100%;
    height: 100%;
    background-color: var(--term-bg-color); !important
    overflow: scroll;
}

.terminal--line {
    display: flex;
    flex-direction: column;
}

.terminal--line--main {
    display: flex;
}

.terminal--line--prompt {
    margin-left: .5em;
    margin-top: var(--terminal-line-top-spacing);
}

.terminal--line--input {
    display: inline;
    font-family: var(--term-font);
    font-size: 1em;
    color: var(--term-text-color);
    word-break: break-all;
    /* remove cursor */
    border: none;
}

.terminal--line--input-second {

}

/* -- */

/* @ Device Styles */

@media (min-width: 1000px) {
    .terminal-program {
        font-size: 1em;
    }
}

/* -- */
